.strike-line {
  position: relative;
  display: inline-block;
  color: #31cb8e; /* text color */
}

.strike-line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px; /* thickness of strike line */
  background-color: #373636; /* color of strike line */
  transform: translateY(-50%);
}

